.register4PageSpan {
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: serif;
}

.phone_number_plus_i {
    margin-top: auto;
    margin-bottom: 17px;
    margin-left: 15px;
    font-size: 22px;
    color: cornflowerblue;
}
