.custom-input {
    position: relative;
    input{
        padding-left: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        color: rgb(14, 13, 13);
        border-radius: 5px;    
        &:focus{
            background-color: rgb(255, 255, 255);
        }
    };
    
    span{
        position: absolute;
        top: 50%;
        left:5px;    
        transform: translate(0, -50%);
        color: #7FC4AF;
    };
};

.custom-menu-item {
  width: 80%;
  
  border-radius: 0.5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  &:hover {
    color: white;
  
  }
}


@media screen and (max-width:991px){
  .custom-mobile-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  };
};

.vertical-linel {
  border-left: 50px solid #96eed2;
  height: 800px;
};
.vertical-line2 {
  border-left: 5px solid white;
  height: 800px;
};
.vertical-line3 {
  border-left: 5px solid #84f5d2;
  height: 800px;
};

.custom-round-image {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.custom-respinsive {
  @media screen and (max-width:991.98px){
    display: block;
  }

  @media screen and (min-width:992px){
      display: none;
  }    
}

.custom-button {
    background-color: white;
    border: none;
    color: black;
    &:focus{
        background-color: gray;
    }
    &:hover{
        background-color: gray;
    }
    &:active {
        background-color: rgb(145, 108, 108);
    }
}

.segmented-control {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    overflow: hidden;
    height: 30px;
    margin: .8em auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-tap-highlight-color: transparent;
  }
  .segmented-control:nth-child(1) {
    width: 100%;
    color: #5cb85c;
  }
  .segmented-control:nth-child(2) {
    width: 80%;
    color: rgb(36, 80, 72);  
  }
  .segmented-control > input {
    position: absolute;
    left: -10000px;
    opacity: 0;
  }
  .segmented-control > input[type='checkbox'] ~ label {
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
  }
  .segmented-control > input[type='checkbox'] ~ label:before {
    opacity: 0;
  }
  .segmented-control > input:disabled:nth-child(1) ~ label:nth-of-type(1) {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):after, .segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):before {
    opacity: 1;
  }
  .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:before {
    left: 0%;
  }
  .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
    left: 0%;
  }
  .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
    left: 0%;
  }
  .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 0%;
  }
  .segmented-control > input:disabled:nth-child(2) ~ label:nth-of-type(2) {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):after, .segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):before {
    opacity: 1;
  }
  .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
    left: 50%;
  }
  .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
    left: 33.33333%;
  }
  .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 25%;
  }
  .segmented-control > input:disabled:nth-child(3) ~ label:nth-of-type(3) {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):after, .segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):before {
    opacity: 1;
  }
  .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
    left: 66.66667%;
  }
  .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 50%;
  }
  .segmented-control > input:disabled:nth-child(4) ~ label:nth-of-type(4) {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .segmented-control > input:nth-child(4):checked ~ label:nth-of-type(4):after, .segmented-control > input:nth-child(4):checked ~ label:nth-of-type(4):before {
    opacity: 1;
  }
  .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 75%;
  }
  .segmented-control > label {
    display: inline-block;
    padding: auto;
    height: 30px;
    cursor: pointer;
    float: left;
    line-height: 2em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
  }
  .segmented-control > label:before, .segmented-control > label:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .segmented-control > label:after {
    color: white;
    content: attr(data-value);
    text-align: center;
    padding: inherit;
    z-index: 10;
    font-style: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    opacity: 0;
    -moz-transition-property: opacity, left;
    -o-transition-property: opacity, left;
    -webkit-transition-property: opacity, left;
    transition-property: opacity, left;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
  }
  .segmented-control > label:after, .segmented-control > label {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .segmented-control > label:before {
    content: '';
    color: #89CAB6;
    background: currentColor;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
    border-radius: 35px;
  }
  .segmented-control > label:first-of-type:nth-last-of-type(1), .segmented-control > label:first-of-type:nth-last-of-type(1):after, .segmented-control > label:first-of-type:nth-last-of-type(1):before, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:before {
    width: 100%;
  }
  .segmented-control > label:first-of-type:nth-last-of-type(2), .segmented-control > label:first-of-type:nth-last-of-type(2):after, .segmented-control > label:first-of-type:nth-last-of-type(2):before, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:before {
    width: 50%;
  }
  .segmented-control > label:first-of-type:nth-last-of-type(3), .segmented-control > label:first-of-type:nth-last-of-type(3):after, .segmented-control > label:first-of-type:nth-last-of-type(3):before, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:before {
    width: 33.33333%;
  }
  .segmented-control > label:first-of-type:nth-last-of-type(4), .segmented-control > label:first-of-type:nth-last-of-type(4):after, .segmented-control > label:first-of-type:nth-last-of-type(4):before, .segmented-control > label:first-of-type:nth-last-of-type(4) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(4) ~ label:before {
    width: 25%;
  }
  .segmented-control.italic, .segmented-control .italic {
    font-style: italic;
  }
  .segmented-control.bold, .segmented-control .bold {
    font-weight: bold;
  }
  .segmented-control.underline, .segmented-control .underline {
    text-decoration: underline;
  }
  .segmented-control.line-through, .segmented-control .line-through {
    text-decoration: line-through;
  }


  .animated {
    // background-image: url("/css/images/logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
 }
 
.carousel-fade-In-start{
    opacity: 1;
  -webkit-transition: opacity 3.35s ease-in-out;
  transition: opacity 3.35s ease-in-out;
}
.carousel-fade-out-start{
  opacity: 0;
}
.carousel-fade-In-end{
 opacity: 0;
-webkit-transition: opacity 3.35s ease-in-out;
transition: opacity 3.35s ease-in-out;
}
.carousel-fade-out-end{
  opacity: 1;
}

// .landing-path-img {
//   transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
//   -webkit-transition: transform .35s ease-in-out;
//   transition: transform .35s ease-in-out;
//   &:hover{
//     transform: scaleX(1.2) scaleY(1.2) translateX(0px) translateY(40px) rotate(10deg);
//   }
// }

// .landing-path-svg {
//   transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
//   &:hover{
//     transform: scaleX(1) scaleY(0.9) translateX(0px) translateY(20px) rotate(-5deg);
//   }
// }

.custom-path-image {
    -webkit-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  svg clipPath path {
    -webkit-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }

  svg g:nth-child(2)  {
    -webkit-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    fill: #13bbb4;
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }

  svg g:nth-child(3) image {
    -webkit-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg);
  }

  &:hover {
    svg clipPath path {
      transform: scaleX(1) scaleY(0.8) translateX(0px) translateY(0px);
    }
    svg g:nth-child(2) {
      transform: scaleX(1) scaleY(0.9) translateX(0px) translateY(0px);
    }
    svg g:nth-child(3) image {
      transform: scaleX(1.2) scaleY(1.2) translateX(0px) translateY(0px);
    }
  }
}

.chevronSpanLeft {
  color: black;
  position: absolute;
  left: 10%;
  font-size: 25px; 
  top: -40%;
}

.chevronSpanRight {
  color: black;
  position: absolute;
  right: 10%;
  font-size: 25px; 
  top: -40%;
}

.contact-btn {
  display: block;
  padding: 15px 70px;
  font-size: 18px;
  background: #1F1F39;
  border: #1F1F39;
  border-radius: 12px;
}

html,
body,
#root {
  height: 100%;
}

@media (min-width:2400px) {
  .segmented-control:nth-child(2) {
    width: 100% !important;
  }
}