@font-face {
     font-family: 'Nexa-Regular';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/Nexa Regular.otf');
 }
 
 @font-face {
     font-family: 'Nexa-Light';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/Nexa Light.otf');
 }
 
 @font-face {
     font-family: 'Nexa-Bold';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/Nexa Bold.otf');
 }

 @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}