.register2Input{
    border:none;
    border-radius: 5px;
    text-align: center;
    background-color:#eeeeee;
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    height: 40px;
}

.register2Span {
    font-size: 26px;
    text-align: center;
    color:black;
}